h1 {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    text-transform: capitalize;
}
body {
    background-color: black;
    color: white;
}
div {
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
}
img {
    width:60%;
    border: 5px solid white;
}
